.AddUserModal .btn {
  float: unset;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 15px;
}

.AddUserModal .icon-box i {
  color: #004a8f;
  font-size: 70px;
}

.AddUserModal h4 {
  text-align: center;
  font-size: 26px;
  margin: auto;
}

.AddUserModal .close {
  position: absolute;
  top: -5px;
  right: -2px;
}

.AddUserModal {
  color: #636363;
  width: 600px;
}
.AddUserModal .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}
.AddUserModal .modal-header {
  display: block;
  text-align: center;
  border-bottom: none;
  position: relative;
}
.AddUserModal .required {
  color: red;
}

.AddUserModal .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}
.AddUserModal .modal-footer a {
  color: #999;
}

.text-center {
  width: 100%;
}

.AddUserModal .modal-footer .alert-success {
  width: 100%;
}
