@media all and (max-width: 480px) {
  .counter {
    font-size: 32px;
    text-align: center;
  }

  .modal-content {
    width: 95vw;
  }
}
.Worksheet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Worksheet table.problem {
  font-family: Sans-Serif;
  font-size: 24px;
  text-align: right;
  margin: 50px;
  max-width: 10%;
}

.Worksheet table.wrong tbody tr td .form-group .form-control {
  border: solid red;
}

.Worksheet table .bottom {
  border-bottom: solid;
}

.counter {
  position: fixed;
  top: 0px;
  right: 1em;
  font-size: 32px;
  text-align: center;
}

.Worksheet table tr td form .form-group .form-control {
  font-family: Sans-Serif;
  font-size: 24px;
  text-align: right;
  padding: 0;
}

.buttonContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

.buttonContainer .btn {
  min-width: 15%;
}

/* .modal-content {
  width: 95vw;
} */
