@media all and (min-width: 480px) {
  .counter {
    position: fixed;
    top: 0px;
    right: 1em;
    font-size: 32px;
    text-align: center;
  }

  .Worksheet table.problem {
    font-family: Sans-Serif;
    font-size: 24px;
    text-align: right;
    margin: 50px;
    max-width: 10%;
  }

  .modal-content {
    width: 65vw;
  }
}
.Worksheet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Worksheet table.problem {
  font-family: Sans-Serif;
  font-size: 24px;
  text-align: right;
  margin: 50px;
  max-width: 20%;
}

.Worksheet table.wrong {
  border: solid red;
}

.Worksheet table .bottom {
  border-bottom: solid;
}

.counter {
  font-size: 32px;
  text-align: center;
}

.hurry {
  color: red;
}

.Worksheet table tr td form .form-group .form-control {
  font-family: Sans-Serif;
  font-size: 24px;
  text-align: right;
}

.buttonContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}

.buttonContainer .btn {
  min-width: 15%;
}

.modal-content {
  width: 95vw;
}
